
body {
  height: 100vh;
  min-width: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-fam);
  color: var(--color);
  background-color: var(--bg-color);
  line-height: 1.36;
}

/* HOME */

#home-div {
  height: 90%;
  width: 100%;
  position: relative;
}

#home-content {
  border: 0.75px solid var(--color);
  width: 30vw;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 2rem;
}

#home-div h2 {
  font-size: var(--header-font-size);
  font-family: var(--font-fam);
  margin-left: 5%;
}

#home-div h3 {
  font-size: var(--subtitle-font-size);
  font-family: var(--font-fam-2);
  font-weight: var(--subtitle-weight);
  font-style: var(--subtitle-style);
  margin-left: 5%;
}

a {
  font-family: var(--font-fam-2);
  font-size: var(--subtitle-font-size);
  font-weight: var(--subtitle-weight);
  font-style: var(--subtitle-style);
  text-decoration: none;
  color: var(--color);
}

hr {
  border: 0;
  border-bottom: 0.75px solid var(--color);
  margin: auto;
  margin-top: 8%;
  width: 90%;
}

/* FOOTER */

#footer-div {
  width: 100%;
  height: 10%;
  font-family: var(--font-fam-2);
  font-size: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

#footer-div img {
  max-height: 30%;
  margin-left: 1%;
}

/* ABOUT */

#about-div, #contact-div {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 90%;
  margin:auto; 
}

#about-div {
  width: 30%;
}


#about-text {
  border: 0.75px solid var(--color);
  font-family: var(--font-fam-2);
  font-size: var(--subtitle-font-size);
  font-weight: var(--subtitle-weight);
  font-style: var(--subtitle-style);
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 5%;
}

#about-text p {
  line-height: 2.36;
}

.button {
  background-color: var(--bg-color);
  border: 0.75px solid var(--color);
  border-radius: 16px;
  padding: 5px 20px;
  align-self: flex-start;
  
}

#about-text a:hover {
  text-decoration: underline;
}

/* CONTACT */


#contact-div {
  width: 40%;
  height: 90%;
}

#contact-form {
  display: flex;
  flex-direction: column;
  border: .75px solid var(--color);
  font-family: var(--font-fam-2);
  color: var(--color);
  font-size: var(--subtitle-font-size);
  padding: 5%;
  padding-right:0;
  margin-top: 5%;
  width: 100%;
  box-sizing: border-box;

}
input[type=text], select, textarea {
  width: 90%;
  background-color: var(--bg-color);
  margin: 8px 0;
  border: .75px solid var(--color);
  box-sizing: border-box;
}

#submit-btn {
  background-color: var(--bg-color);
  border: 0.75px solid var(--color);
  border-radius: 16px;
  padding: 5px 20px;
  color: var(--color);
 margin: auto;
 padding: 10px 20px;
 font-size: 16px;
 text-align: center
}


textarea {
  min-width: 90%;
  max-width: 90%;
}

#project-div{
display: flex;
flex-direction: column;
height: 90%;
width: 60%;
justify-content: center;
align-items: center;
margin: 0 auto;


}

#project-library {
  border: .75px solid var(--color);
  width: 100%;
  height: 90%;
  align-self: center;
  margin-top: 1%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
}

.project {
  text-align: left;
}

#project-div button {
align-self: flex-start;

}